<div class="columns">

  <div class="column">
    <h2 class="title is-4">Top Players</h2>
    <ol class="ml-5">
      <% @players.each do |player| %>
        <li>
          <%= link_to player.full_name, player %>
          <em>(<%= player.team.name %>)</em>
        </li>
      <% end %>
    </ol>
    <p class="mt-4">
      <strong>
        <%= link_to 'ðŸ€ See All Players ðŸ€', players_path %>
      </strong>
    </p>
  </div>

  <div class="column">
    <h2 class = "title is-4">Top 10 Teams</h2>
    <ol class="ml-5">
      <% @teams.each do |team| %>
        <li>
          <%= link_to team.name, team %>
          <em>(<%= pluralize team.player_count, "Player" %>)</em>
        </li>
      <% end %>
    </ol>
    <p class="mt-4">
      <strong>
        <%= link_to 'ðŸ€ See All Teams ðŸ€', teams_path %>
      </strong>
    </p>
  </div>



</div>